/ChangeEmailMenu.class
/ChangePasswordMenu.class
/CheckoutMenu.class
/CustomerListMenu.class
/MainMenu.class
/MyOrdersMenu.class
/ProductCatalogMenu.class
/SettingsMenu.class
/SignInMenu.class
/SignOutMenu.class
/SignUpMenu.class
